In [2]:
    import numpy as np

In [3]:
grid = np.arange(0.1,1,0.1).tolist()

In [4]:
print(grid)

[0.1, 0.2, 0.30000000000000004, 0.4, 0.5, 0.6, 0.7000000000000001, 0.8, 0.9]

In [5]:
grid_step = endowment/gridsize

NameError: name 'endowment' is not defined

In [6]:
test = 1/100

In [7]:
print(test)

0.01

In [9]:
import matplotlib.pyplot as plt
import dask.dataframe as dd

C:\Users\41782\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [10]:
pwd

'C:\\Users\\41782\\Documents\\MasterThesis\\firmdynamic-abm\\scripts'

In [12]:
firm_dk = dd.read_csv("../results/res_firm_agent_run3_opttype3.csv.gz")

C:\Users\41782\anaconda3\lib\site-packages\dask\dataframe\io\csv.py:526: UserWarning: Warning gzip compression does not support breaking apart files
Please ensure that each individual file can fit in memory and
use the keyword ``blocksize=None to remove this message``
Setting ``blocksize=None``
  warn(

In [16]:
print(firm_dk)

Dask DataFrame Structure:
                   t     id    age number_employees total_effort   output average_pref
npartitions=1
               int64  int64  int64            int64      float64  float64      float64
                 ...    ...    ...              ...          ...      ...          ...
Dask Name: read-csv, 1 tasks

In [20]:
tt = firm_dk.groupby("t").size()

In [21]:
print(tt)

Dask Series Structure:
npartitions=1
    int64
      ...
dtype: int64
Dask Name: dataframe-groupby-size-agg, 3 tasks

In [22]:
tt.compute()

t
0       965
1       928
2       902
3       869
4       851
       ...
2995    207
2996    208
2997    207
2998    206
2999    208
Length: 3000, dtype: int64

In [23]:
qq = firm_dk.groupby("id").mean()

In [24]:
qq.compute()

            t    age  number_employees  total_effort    output  average_pref
id
2        14.5   15.5          1.000000      0.100000  0.054532      0.100000
4         1.5    2.5          1.000000      0.100000  0.061348      0.100000
6        50.0   51.0          3.000000      0.129703  0.060866      0.049406
8       121.5  122.5          4.184426      0.198770  0.151828      0.053429
10       78.5   79.5          5.981013      0.211392  0.274171      0.040370
...       ...    ...               ...           ...       ...           ...
12038  2999.0    1.0          1.000000      0.950000  1.346517      0.950000
12039  2999.0    1.0          1.000000      0.930000  1.465855      0.930000
12040  2999.0    1.0          1.000000      0.950000  1.476537      0.950000
12041  2999.0    1.0          1.000000      0.950000  1.357115      0.950000
12042  2999.0    1.0          1.000000      0.100000  0.056487      0.100000

[11004 rows x 6 columns]

In [25]:
ww = firm_dk.compute()

In [26]:
print(ww)

           t     id  age  number_employees  total_effort    output  \
0          0      2    1                 1          0.10  0.054532
1          0      4    1                 1          0.10  0.061348
2          0      6    1                 2          0.20  0.073835
3          0      8    1                 2          0.20  0.103982
4          0     10    1                 1          0.10  0.075903
...      ...    ...  ...               ...           ...       ...
621062  2999  12038    1                 1          0.95  1.346517
621063  2999  12039    1                 1          0.93  1.465855
621064  2999  12040    1                 1          0.95  1.476537
621065  2999  12041    1                 1          0.95  1.357115
621066  2999  12042    1                 1          0.10  0.056487

        average_pref
0               0.10
1               0.10
2               0.10
3               0.10
4               0.10
...              ...
621062          0.95
621063          0.93
621064          0.95
621065          0.95
621066          0.10

[621067 rows x 7 columns]

In [31]:
ww1 = ww.loc[ww["t"]>=1000]

In [32]:
print(ww1)

           t     id  age  number_employees  total_effort    output  \
237450  1000   2361  884                49          0.10  0.045082
237451  1000   2639  791                22          0.10  0.058809
237452  1000   3110  645                 3          0.30  0.230732
237453  1000   3130  639                12          0.10  0.069842
237454  1000   3201  622                 1          0.10  0.014586
...      ...    ...  ...               ...           ...       ...
621062  2999  12038    1                 1          0.95  1.346517
621063  2999  12039    1                 1          0.93  1.465855
621064  2999  12040    1                 1          0.95  1.476537
621065  2999  12041    1                 1          0.95  1.357115
621066  2999  12042    1                 1          0.10  0.056487

        average_pref
237450      0.002041
237451      0.004545
237452      0.100000
237453      0.008333
237454      0.100000
...              ...
621062      0.950000
621063      0.930000
621064      0.950000
621065      0.950000
621066      0.100000

[383617 rows x 7 columns]

In [35]:
ww2 = ww1.groupby("t").mean()

In [43]:
ww2[ww2.number_employees<=10].shape[0]

2000

In [44]:
ww2["number_employees"].max()

6.211180124223603